@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0.5&display=swap');
$font-family: "Geologica", sans-serif;

$white: #FAFAFA;
$gray: #F0F0F0;
$black: #000000;


$accent: #07a9de;
$green-accent: #42b883;